<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.AnnouncementMapper">

    <select id="selectAll"  resultType="com.subjectmanage.beans.Announcement">
        select * from announcement limit #{startIndex},#{pageSize}
    </select>

    <select id="getTotal"  resultType="int">
        select count(*) from announcement
    </select>


</mapper>