<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.FileMapper">

    <select id="getFileById" resultType="com.subjectmanage.beans.File">
        select * from file where file_id = #{file_id}
    </select>

    <select id="getFileList" resultType="com.subjectmanage.beans.File">
        select * from file limit #{startIndex},#{pageSize}
    </select>


    <select id="getFileListTotal" resultType="int">
        select count(*) from file
    </select>


    <insert id="addFile" useGeneratedKeys="true" keyProperty="file_id">
        insert into file (group_id, headline, release_time, file_url, type, topic_id)
        value (#{group_id},#{headline},#{release_time},#{file_url},#{type},#{topic_id})
    </insert>

    <delete id="deleteFile">
        delete from file where file_id = #{file_id}
    </delete>


    <delete id="batchdeleteFile" parameterType="int">
        delete from file
        where file_id IN
        <foreach collection="array" item="file_id" open="(" separator="," close=")">
            #{file_id}
        </foreach>
    </delete>

    <select id="searchFile" resultType="com.subjectmanage.beans.File">
        select * from file
        <where>

            <if test="headline!=null">
                headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="release_time!=null">
                and release_time = #{release_time}
            </if>
            <if test="group_id!=null">
                and group_id = #{group_id}
            </if>
            <if test="topic_id!=null">
                and topic_id = #{topic_id}
            </if>
            <if test="type!=null">
                and type = #{type}
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>


    <select id="searchFileTotal" resultType="int">
        select count(*) from file
        <where>
            <if test="headline!=null">
                headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="release_time!=null">
                and release_time = #{release_time}
            </if>
            <if test="group_id!=null">
                and group_id = #{group_id}
            </if>
            <if test="topic_id!=null">
                and topic_id = #{topic_id}
            </if>
            <if test="type!=null">
                and type = #{type}
            </if>
        </where>
    </select>

</mapper>