<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.GroupMapper">

    <select id="getGroupById" resultType="com.subjectmanage.beans.Group">
        select * from `group` WHERE group_id = #{group_id}
    </select>

    <!--查询小组中的所有成员-->
    <select id="getGroupListByTopicId" parameterType="int" resultMap="GroupWithStudents">
        select * from `group` WHERE topic_id = #{topic_id}
    </select>

    <resultMap id="GroupWithStudents" type="com.subjectmanage.beans.Group">
        <result property="group_id" column="group_id"/>
        <collection property="studentList" javaType="ArrayList" ofType="com.subjectmanage.beans.Student" select="com.subjectmanage.mapper.StudentMapper.getStudentListByGroup" column="group_id"/>
    </resultMap>

    <select id="selectAll"  resultType="com.subjectmanage.beans.Group">
        select * from `group` limit #{startIndex},#{pageSize}
    </select>

    <insert id="addGroup" >
        insert into `group` (group_id, topic_id, current_numbers, volume)
            value (#{group_id},#{topic_id},#{current_numbers},#{volume})
    </insert>

    <update id="updateGroup" >
        update `group`
        <set>

                <if test="topic_id!=null">
                    topic_id = #{topic_id},
                </if>
                <if test="current_numbers!=null">
                    current_numbers = #{current_numbers},
                </if>
                <if test="volume!=null">
                    volume = #{volume}
                </if>

        </set>
        where group_id = #{group_id}
    </update>

    <delete id="deleteGroup">
        delete from `group` where group_id = #{group_id}
    </delete>

</mapper>