<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.StudentMapper">

    <!--查询小组中的所有成员-->
    <select id="getStudentListByGroup" parameterType="int" resultType="com.subjectmanage.beans.Student">
        select * from student WHERE group_id = #{group_id}
    </select>

</mapper>