<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.StudentMapper">

    <!--查询小组中的所有成员-->
    <select id="getStudentListByGroup" parameterType="int" resultType="com.subjectmanage.beans.Student">
        select * from student WHERE group_id = #{group_id}
    </select>

    <select id="selectLoginStudent"  resultType="com.subjectmanage.beans.Student">
        select * from student WHERE student_num = #{student_num} and password = #{password}
    </select>

    <select id="selectAll"  resultType="com.subjectmanage.beans.Student">
        select * from student limit #{startIndex},#{pageSize}
    </select>

    <insert id="addStudent" >
        insert into student(student_name, student_gender, student_phone, password, student_grade, student_num,student_email)
        value (#{student_name},#{student_gender},#{student_phone},#{password},#{student_grade},#{student_num},#{student_email})
    </insert>

    <update id="updateStudent" >
        update student
          <set>

                  <if test="student_name!=null">
                      student_name = #{student_name},
                  </if>
                  <if test="student_phone!=null">
                      student_phone = #{student_phone},
                  </if>
                  <if test="student_gender!=null">
                      student_gender = #{student_gender},
                  </if>
                  <if test="student_grade!=null">
                      student_grade = #{student_grade},
                  </if>
                  <if test="group_id!=null">
                      group_id = #{group_id},
                  </if>
                  <if test="student_num!=null">
                      student_num = #{student_num},
                  </if>
                  <if test="password!=null">
                      password = #{password}
                  </if>
                  <if test="student_email!=null">
                      student_email = #{student_email}
                  </if>

          </set>
        where student_id = #{student_id}
    </update>

    <delete id="deleteStudent">
        delete from student where student_id = #{student_id}
    </delete>


</mapper>