<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.TopicMapper">

    <select id="getTopicById" parameterType="int" resultType="com.subjectmanage.beans.Topic">
        select * from topic WHERE topic_id = #{topic_id}
    </select>
    <!--查询课题以及所有成员-->
    <select id="getTopicWithGroupById" parameterType="int" resultMap="TopicWithGroup">
        select * from topic WHERE topic_id = #{topic_id}
    </select>

    <resultMap id="TopicWithGroup" type="com.subjectmanage.beans.Topic">
        <result property="topic_id" column="topic_id"/>
        <result property="teacher_id" column="teacher_id"/>
        <association property="teacher" column="teacher_id" javaType="com.subjectmanage.beans.Teacher" select="com.subjectmanage.mapper.TeacherMapper.selectTeacher"/>
        <collection property="groupList" column="topic_id" javaType="ArrayList" ofType="com.subjectmanage.beans.Group" select="com.subjectmanage.mapper.GroupMapper.getGroupListByTopicId" />
    </resultMap>

    <select id="selectAll"  resultMap="TopicWithTeacher">
        select * from topic limit #{startIndex},#{pageSize}
    </select>

    <select id="selectTopicByTid"  resultMap="TopicWithTeacher">
        select * from topic where teacher_id = #{teacher_id} limit #{startIndex},#{pageSize}
    </select>

    <select id="getTotalByTid"  resultType="int">
        select count(*) from topic where teacher_id = #{teacher_id}
    </select>

    <resultMap id="TopicWithTeacher" type="com.subjectmanage.beans.Topic">
        <result property="topic_id" column="topic_id"/>
        <result property="teacher_id" column="teacher_id"/>
        <association property="teacher" column="teacher_id" javaType="com.subjectmanage.beans.Teacher" select="com.subjectmanage.mapper.TeacherMapper.selectTeacher"/>
        <association property="teacher_name" column="teacher_id" javaType="String" select="com.subjectmanage.mapper.TeacherMapper.getTeacherNameById"/>
    </resultMap>

    <select id="getTotal"  resultType="int">
        select count(*) from topic
    </select>

    <select id="getSearchTotal"  resultType="int">
        select count(*) from topic
        <where>
            <if test="headline!=null">
                headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="type!=null">
                and type like CONCAT('%',#{type},'%')
            </if>
            <if test="teacher_name!=null">
                and teacher_name like CONCAT('%',#{teacher_name},'%')
            </if>
            <if test="grade!=null">
                and grade = #{grade}
            </if>
        </where>
    </select>

    <select id="searchTopics" resultMap="TopicWithTeacher">
        select * from topic
        <where>
            <if test="headline!=null">
                headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="type!=null">
                and type like CONCAT('%',#{type},'%')
            </if>
            <if test="teacher_name!=null">
                and teacher_name like CONCAT('%',#{teacher_name},'%')
            </if>
            <if test="grade!=null">
                and grade = #{grade}
            </if>
        </where>
         limit #{startIndex},#{pageSize}
    </select>



    <select id="getTeachSearchTotal"  resultType="int">
        select count(*) from topic
        <where>
            <if test="teacher_id!=null">
                teacher_id = #{teacher_id}
            </if>
            <if test="headline!=null">
               and headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="type!=null">
                and type like CONCAT('%',#{type},'%')
            </if>
            <if test="grade!=null">
                and grade = #{grade}
            </if>
        </where>
    </select>

    <select id="searchTeachTopics" resultMap="TopicWithTeacher">
        select * from topic
        <where>
            <if test="teacher_id!=null">
                teacher_id = #{teacher_id}
            </if>
            <if test="headline!=null">
                and headline like CONCAT('%',#{headline},'%')
            </if>
            <if test="type!=null">
                and type like CONCAT('%',#{type},'%')
            </if>
            <if test="grade!=null">
                and grade = #{grade}
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <insert id="addTopic" useGeneratedKeys="true" keyProperty="topic_id" >
        insert into topic (teacher_id, headline, release_time, file_id, type,content,grade,teacher_name)
            value (#{teacher_id},#{headline},#{release_time},#{file_id},#{type},#{content},#{grade},#{teacher_name})
    </insert>

    <update id="updateTopic" >
        update topic
        <set>

                <if test="teacher_id">
                    teacher_id = #{teacher_id},
                </if>
                <if test="headline!=null">
                    headline = #{headline},
                </if>
                <if test="release_time!=null">
                    release_time = #{release_time},
                </if>
                <if test="file_id!=null">
                    file_id = #{file_id},
                </if>
                <if test="type!=null">
                    type = #{type},
                </if>
                <if test="content!=null">
                    content = #{content},
                </if>
                <if test="grade!=null">
                    grade = #{grade},
                </if>
                <if test="teacher_name!=null">
                    teacher_name = #{teacher_name}
                </if>


        </set>
        where topic_id = #{topic_id}
    </update>

    <delete id="deleteTopic">
        delete from topic where topic_id = #{topic_id}
    </delete>


</mapper>