<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.subjectmanage.mapper.TopicMapper">

    <!--查询课题以及所有成员-->
    <select id="getTopicWithGroupById" parameterType="int" resultMap="TopicWithGroup">
        select * from topic WHERE topic_id = #{topic_id}
    </select>

    <resultMap id="TopicWithGroup" type="com.subjectmanage.beans.topic">
        <collection property="groupList" javaType="ArrayList" ofType="com.subjectmanage.beans.group" select="com.subjectmanage.mapper.GroupMapper.getGroupListByTopicId" column="topic_id"/>
    </resultMap>



</mapper>