<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">新闻标题</label>
                            <div class="layui-input-inline">
                                <input id="news_title" type="text" name="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">新闻日期</label>
                            <div class="layui-input-inline">
                                <input type="date" id="news_date" name="date" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-primary" id="search"><i class="layui-icon"></i> 搜 索</div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 发布新闻 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除新闻 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url: '/admin/news/getNewsList',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                {type: "checkbox", width: 50},
                {field: 'news_id', width: 80, title: 'ID', sort: true},
                {field: 'news_title', width: 400, title: '新闻标题'},
                {field: 'news_date', width: 200, title: '发布日期'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [5, 10, 20, 25, 50, 100],
            limit: 5,
            page: true,
            skin: 'line'
        });



        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('/admin/news/add');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '发布新闻',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;

                var news_ids = [];
                data.forEach(function (n,i) {
                    news_ids.push(n.news_id);
                });


                layer.confirm('确定删除?', function (index) {

                    //调用ajax删除
                    $.ajax({
                        url: "/admin/news/batchdeleteNews",
                        type: "post",
                        async:false,
                        data:JSON.stringify(news_ids),
                        // 定义发送请求的数据格式为JSON字符串
                        contentType: "application/json;charset=UTF-8",
                        //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                        dataType: "json",
                        //成功响应的结果
                        success: function (data) {

                            if(data.result ==="success"){
                                layer.msg("删除成功！");
                                location.reload();
                            }
                            else {
                                layer.msg("删除失败！");
                            }

                        },
                        error: function(e) {
                            var res = $.parseJSON(e.responseText);
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var content = miniPage.getHrefContent('/admin/news/edit?news_id='+data.news_id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑新闻',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {

                layer.confirm('确定删除?', function (index) {

                    //调用ajax删除
                    $.ajax({
                        url: "/admin/news/deleteNews?news_id="+data.news_id,
                        type: "post",
                        async:false,
                        // 定义发送请求的数据格式为JSON字符串
                        contentType: "application/json;charset=UTF-8",
                        //定义回调响应的数据格式为 JSON 字符串,该属性可以省略
                        dataType: "json",
                        //成功响应的结果
                        success: function (data) {

                            if(data.result ==="success"){
                                obj.del();
                                layer.msg("删除成功！");
                            }
                            else {
                                layer.msg("删除失败！");
                            }

                        },
                        error: function(e) {
                            var res = $.parseJSON(e.responseText);
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);
                });
            }
        });

        $('#search').on('click', function() {
            var title = document.getElementById("news_title").value;
            var date = document.getElementById("news_date").value;
            if(date===""){
                document.getElementById("news_date").value=null;
            }
            //执行搜索重载
            table.reload('currentTableId', {
                url:'/admin/news/searchNews',
                method:'post',
                page: {
                    curr: 1
                },
                where: {
                    news_title : title,
                    news_date : date
                }
            },'data');
        });
    });
</script>