<div class="layuimini-container layuimini-page-anim" xmlns:th="http://www.thymeleaf.org">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">课题名称</label>
                            <div class="layui-input-inline">
                                <input id="topic_name" type="text" name="topic_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">专业类型</label>
                            <div class="layui-input-inline">
                                <input id="type" type="text" name="type" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                        <label class="layui-form-label">课题年级</label>
                        <div class="layui-input-inline">
                            <select id="grade" name="grade" >
                                <option value="unselect">--可选择--</option>
                                <option value="大一">大一</option>
                                <option value="大二">大二</option>
                                <option value="大三">大三</option>
                            </select>
                        </div>
                    </div>

                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-primary" id="search"><i class="layui-icon"></i> 搜 索</div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>


        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">详情</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="score">评分</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="mdownload">下载中期文档</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="edownload">下载期末文档</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url:'/topic/teach/getCheckedGroupList',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData:function (result) {
                return{
                    "data":result.data,
                    "code": result.code, //解析接口状态
                    "msg": result.msg, //解析提示文本
                    "count": result.count //解析数据长度
                }
            },
            cols:
            [
                [
                {field: 'group_id', width: 200, title: 'ID', sort: true},
                {field: 'headline', width: 200, title: '课题标题',templet: function (group) {
                         return group.topic.headline;
                    }
                },
                {field: 'grade', width: 200, title: '年级',templet: function (group) {
                        return group.topic.grade;
                    }},
                {field: 'type', width: 200, title: '类型',templet: function (group) {
                            return group.topic.type;
                        }},
                {field: 'current_numbers', width: 200, title: '小组人数'},
                {field: 'volume', width: 200, title: '容量'},
                {field: 'status', width: 200, title: '状态',templet: function (group) {
                        if(group.status ===1){
                            return "已确认";
                        }else if(group.status ===2){
                            return "已评分";
                        }
                    }},
                {title: '操作', minWidth: 600, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [5, 10, 15, 25, 50, 100],
            page: true,
            limit:5,
            skin: 'line'
        });

        // 监听搜索操作
        $('#search').on('click', function() {
            var topic_name = document.getElementById("topic_name").value;
            var type = document.getElementById("type").value;
            var grade = document.getElementById("grade").value;
            //执行搜索重载
            table.reload('currentTableId', {
                url:'/topic/teach/searchTopics',
                method:'post',
                page: {
                    curr: 1
                },
                where: {
                     topic_name : topic_name,
                     type : type,
                     grade : grade
                }
            },'data');
        });



        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });


        //监听行的点击事件
        table.on('row(currentTableId)', function (obj) {
            var rowIndex =  $(obj.tr).attr("data-index");
            console.log(rowIndex);

        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {

                var content = miniPage.getHrefContent('topic/teach/groupDetail?group_id='+data.group_id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '小组详情',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }
            else if (obj.event === 'score') {

                if(data.status===2){
                    layer.msg("无法修改评分！有问题请联系管理员！");
                    return false;
                }
                var content = miniPage.getHrefContent('topic/teach/score?group_id='+data.group_id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '对小组评分',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return true;
            }
            else if (obj.event === 'mdownload') {
                window.location.href = "/topic/downloadMfile?group_id="+data.group_id;
            }
            else if (obj.event === 'edownload') {
                window.location.href = "/topic/downloadEfile?group_id="+data.group_id;
            }
        });

    });
</script>