<div class="layuimini-container layuimini-page-anim" xmlns:th="http://www.thymeleaf.org">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">课题名称</label>
                            <div class="layui-input-inline">
                                <input id="topic_name" type="text" name="topic_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">专业类型</label>
                            <div class="layui-input-inline">
                                <input id="type" type="text" name="type" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                        <label class="layui-form-label">课题年级</label>
                        <div class="layui-input-inline">
                            <select id="grade" name="grade" >
                                <option value="unselect">--可选择--</option>
                                <option value="大一">大一</option>
                                <option value="大二">大二</option>
                                <option value="大三">大三</option>
                            </select>
                        </div>
                    </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">课题老师</label>
                            <div class="layui-input-inline">
                                <input id="teacher_name" type="text" name="teacher_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <!--<div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>-->
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-primary" id="search"><i class="layui-icon"></i> 搜 索</div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>


        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">详情</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="download">下载任务书</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url:'/topic/getTopicList',
            /*toolbar: '#toolbarDemo',*/
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData:function (result) {
                return{
                    "data":result.data,
                    "code": result.code, //解析接口状态
                    "msg": result.msg, //解析提示文本
                    "count": result.count //解析数据长度
                }
            },
            cols:
            [
                [
                {type: "checkbox", width: 50},
                {field: 'topic_id', width: 200, title: 'ID', sort: true},
                {field: 'teacher_name', width: 200, title: '课题老师',templet: function (topic) {
                         return topic.teacher.teacher_name;
                    }
                },
                {field: 'headline', width: 200, title: '课题标题'},
                {field: 'grade', width: 200, title: '年级'},
                {field: 'release_time', width: 200, title: '发布时间'},
                {field: 'type', width: 200, title: '类型'},
                {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            limits: [5, 10, 15, 25, 50, 100],
            page: true,
            limit:5,
            skin: 'line'
        });

        // 监听搜索操作
     /*   form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                url:'/topic/searchTopics',
                method:'get',
                page: {
                    curr: 1
                },
                 where: {
                    searchParams: result
                }
            },'data');
        });*/
        $('#search').on('click', function() {
            var topic_name = document.getElementById("topic_name").value;
            var type = document.getElementById("type").value;
            var grade = document.getElementById("grade").value;
            var teacher_name = document.getElementById("teacher_name").value;
            //执行搜索重载
            table.reload('currentTableId', {
                url:'/topic/searchTopics',
                method:'post',
                page: {
                    curr: 1
                },
                where: {
                     topic_name : topic_name,
                     type : type,
                     grade : grade,
                     teacher_name : teacher_name
                }
            },'data');
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('page/table/add.html');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });


        //监听行的点击事件
        table.on('row(currentTableId)', function (obj) {
            var rowIndex =  $(obj.tr).attr("data-index");
            console.log(rowIndex);

        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {

                console.log(data.topic_id);

                var content = miniPage.getHrefContent('topic/details?topic_id='+data.topic_id);
                console.log(content);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '详情',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'download') {

                window.location.href="/topic/downloadTopic?topic_id="+data.topic_id;
            }
        });

    });
</script>